In [7]:
#representation of zoo.py
def hours():
    print('Open 9-5 Daily')

In [15]:
import zoo as managerie
managerie.hours()

Open 9-5 Daily

In [1]:
import csv
import sqlite3
books = [
    ["title", "author", "year"],
     ["The Weirdstone of Brisingamen", "Alan Garner", 1960],
     ["Perdido Street Station","China MiÃ©ville",2000],
     ["Thud!","Terry Pratchett",2005],
     ["The Spellman Files","Lisa Lutz",2007],
     ["Small Gods","Terry Pratchett",1992]]
with open ('books2.csv', 'wt') as fout:
    writer = csv.writer(fout)
    writer.writerows(books)

In [23]:
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
table = "CREATE TABLE books (title TEXT, author TEXT, year INTEGER)"
cursor.execute(table)
with open('books2.csv', 'rt') as fin:
    cin = csv.reader(fin)
    books = [row for row in cin]
    bookSize = len(books)
    
    i = 0
    while i < bookSize -1:
        element1 = books[i][0]
        element2 = books[i][1]
        element3 = books[i][2]
        print(element1, element2, element3)
        cursor.execute("INSERT into books(title, author, year) VALUES (?, ?, ?)", (element1, element2, element3))
        i = i + 2

    conn.commit()
    conn.close()

OperationalError: table books already exists

In [27]:
import sqlalchemy as sa
engine = sa.create_engine('sqlite:///books.db')
with engine.connect() as connection:
    result = connection.execute(sa.text('SELECT title FROM books'))
    rows = result.fetchall()
    print(rows)

[('title',), ('The Weirdstone of Brisingamen',), ('Perdido Street Station',), ('Thud!',), ('The Spellman Files',), ('Small Gods',)]